@using CarDealer.Models.ViewModels;
@model IEnumerable<SupplierViewModel>

@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Number Of Parts</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.NumberOfParts</td>
        </tr>
    }
</table>
