<h1>{{name}}</h1>
<img class="cube" src="{{image}}">
<div class="details">
  <p>
    <span>Description:</span> {{description}}</p>
  <p>
    <span>Difficulty level:</span> {{difficulty}}
  </p>
  <a href="/" class="button">Back</a>
</div>