<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects Manager</title>
  <link type="text/css" rel="stylesheet" href="/css/site.css" />
  <link rel="shortcut icon" href="https://www.projectsmart.co.uk/img/pm-workflow.png" type="image/png">
</head>
<body>
  <header>
    {{> header}}
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    {{> footer}}
  </footer>
</body>
</html>