<div>Title:</div>
<div><input type="text" name="title" required /></div>
<div>Description:</div>
<div><textarea name="description" rows="10" required></textarea></div>
<div>Price:</div>
<div><input type="number" step="0.01" name="price" required /></div>
<div>Image Url:</div>
<div><input type="text" name="imageUrl" required /></div>