@using CarDealer.Models.ViewModels;
@model IEnumerable<CustomerViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Birth date</th>
        <th>Is Young Driver</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@($"{customer.BirthDate:dd'/'MM'/'yyyy}")</td>
            <td>@customer.IsYoungDriver</td>
        </tr>
    }
</table>
