<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Cool Blog System</title>
  <link type="text/css" rel="stylesheet" href="/css/site.css" />
  <link rel="shortcut icon" href="https://blog.ukrnames.com/wp-content/uploads/2018/06/blog-1505299138.jpg" type="image/jpeg" />
</head>
<body>
  {{> navbar}}
  {{> error}}
  {{{body}}}
</body>
</html>