<div class="navbar navbar-default navbar-fixed-top text-uppercase">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">SoftUni Blog</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    {{#if user}}
    {{> loggedInUser}}
    {{else}}
    {{> anonymousUser}}
    {{/if}}
  </div>
</div>