<div class="nav">
  <ul class="menu">
    <li>
      <a href="/">Home</a>
    </li>
    <li></li>
    <li class="right">
      <a href="/user/logout">Logout</a>
    </li>
    <li class="right">Welcome, {{user.firstName}} {{user.lastName}}!</li>
  </ul>
</div>