@using CarDealer.Models.ViewModels;
@model IEnumerable<CarViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table class="table table-striped">
    <tr>
        <th>Model</th>
        <th>Make</th>
        <th>Travelled Distance</th>
    </tr>
    @foreach (var car in Model)
    {
        <tr>
            <td>@car.Model</td>
            <td>@car.Make</td>
            <td>@car.TravelledDistance</td>
        </tr>
    }
</table>