div {
    padding: 10px;
    border: 4px dotted blue;
    border-radius: 15px;
    width: 300px;
}

div > div {
    border: 3px dotted red;
    border-radius: 10px;
    width: 270px;
}

div > div > div {
    border: 2px solid green;
    border-radius: 5px;
    font-size: 26px;
    width: 240px;
    text-align: center;
}