@using CarDealer.Models.ViewModels;
@model IEnumerable<SaleViewModel>

@{
    ViewBag.Title = "Discounted Sales";
}

<h2>Discounted Sales</h2>

<table class="table table-striped">
    <tr>
        <th>Car</th>
        <th>Customer</th>
        <th>Discount</th>
    </tr>
    @foreach (var sale in Model)
    {
        <tr>
            <td>@($"{sale.Car.Make} {sale.Car.Model}")</td>
            <td>@($"{sale.Customer.Name}")</td>
            <td>@($"{(int)(sale.Discount * 100)}%")</td>
        </tr>
    }
</table>
