@using CarDealer.Models.ViewModels;
@model SaleViewModel

@{
    ViewBag.Title = "Sale By Id";
}

<h2>Sale By Id</h2>

<table class="table table-striped">
    <tr>
        <th>Car Make</th>
        <th>Car Model</th>
        <th>Customer</th>
        <th>Discount</th>
    </tr>
    <tr>
        <td>@Model.Car.Make</td>
        <td>@Model.Car.Model</td>
        <td>@Model.Customer.Name</td>
        <td>@($"{(int)(Model.Discount * 100)}%")</td>
    </tr>
</table>