<meta charset="UTF-8">
{{!-- this variable is optional and will be used for extra meta tags --}}
{{extraMetas}}
<title>Cubicle - {{title}}</title>
<link href="/css/site.css" type="text/css" rel="stylesheet">
<link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />